


.arrow {
	position: absolute;
	top: 40%;
	width: 2rem;
	height: 2rem;
	background: transparent;
	border-top: .4rem solid #6f3cbc;
	border-right: .4rem solid purple;
	box-shadow: 0 0 0 purple;
	transition: all 200ms ease;
	margin-right: 120px;
	margin-left: 120px;

	&.left {
		left: 0;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.right {
		right: 0;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}

	&:hover {
		border-top: .4rem #17434c;
		border-right: .4rem #17434c;
		box-shadow: .2rem -.2rem 0 #17434c;

		&.left {
			left: -.1rem;
		}

		&.right {
			right: -.1rem;
		}
	}
}
