.lil_gimper {
  width: 100px;
  position: absolute;
  display: inline-block;
  padding: 0 auto 0 auto;
  transition: top 1s ease;
  top: 20em;
}

.gimp1 {
  left: 20em;
}

.gimp1a {
  left: 5em;
}

.gimp2 {
  left: 40em;
}

.gimp3 {
  left: 60em;
}

.gimp4 {
  left: 50em;
}

.chosen {
  top: 5em;
}
