.lil_gimper {
  width: 100px;
  position: absolute;
  display: inline-block;
  padding: 0 auto 0 auto;
  transition: top 1s ease;
  top: 20em;
}

//flower distance
.gimp1 {
  left: 12.5em;

}

.gimp2 {
  left: 35.5em;
}


.gimp3 {
  left: 65em;
}

.gimp4 {
  left: 20.5em;
}

.gimp5 {
  left: 29em;
}

.gimp6 {
  left: .5em;
}

.gimp7 {
  left: 45.5em;
}

.gimp8 {
  left: 53.5em;
}

.gimp9 {
  left: 80em;

}
//float
.chosen {
  top: 5em;
}
