@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre|IM+Fell+English+SC');

.home_container {
  display: inline-block;
  position: relative;
  width: 100%;
  background: asset-url('smallFrontBackground.png') no-repeat center top;
  background-size: contain;
}



body.home {
  background: asset-url("smallFrontBackground.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin:0;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

body.arrange {
  background: asset-url("ArrBackground.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin:0;
  min-height: 100px;
  min-width: 100%;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

h1 {
text-align: center;
color: #FFF0A5;

}

h2 {
  text-align: center;
  font-family: 'Averia Sans Libre', cursive;
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;



}


/* Header div animation code */
.jumbotron.text-center {
  position: relative;
  font-family: 'Averia Sans Libre', cursive;
  font-family: 'IM Fell English SC', serif;
  color: #FFF0A5;
  -webkit-animation: floatText 10s infinite;

  -webkit-animation-direction:alternate;
  }


@-webkit-keyframes floatText {
 from{
      top:10em;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-fill-mode: forwards;

   }


   to {
      top: -100em;
     -webkit-animation-timing-function: ease-out;
   }

}

//arrow margins

.arrow.right {

margin-left: 35px;
margin-right: 35px;
position: fixed;






}

.arrow.left {


  margin-left: 35px;
  margin-right: 35px;
  position: fixed;

}

//make the notice dissapear after 3secs
#notice{

    font-size: 35px;
    color: #FFF0A5;;
    margin-top: 20px;

     animation:notice 0.5s 1;
    -webkit-animation:notice 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes notice{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes notice{
    from {opacity :1;}
    to {opacity :0;}
}

//make the notice dissapear after 3secs
#titleAlert{
text-align: center;
    font-size: 35px;
    color: #FFF0A5;;
    margin-top: 20px;

     animation:titleAlert 0.5s 1;
    -webkit-animation:titleAlert 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes titleAlert{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes titleAlert{
    from {opacity :1;}
    to {opacity :0;}
}
