@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre|IM+Fell+English+SC');

.home_container {
  display: inline-block;
  position: relative;
  width: 100%;
  background: asset-url('smallFrontBackground.png') no-repeat center top;
  background-size: contain;
}



body.home {
  background: asset-url("smallFrontBackground.png");
  //background: asset-url("flowerAltBackround.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin:0;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

body.arrange {
  background: asset-url("ArrBackground_optimized.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin:0;
  min-height: 100px;
  min-width: 100%;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

h1 {
text-align: center;
color: #FFF0A5;
font-size: 55px;

}

h2 {
  text-align: center;
  font-family: 'Averia Sans Libre', cursive;
  font-family: 'IM Fell English SC', serif;
  font-size: 55px;
  color:#FFF0A5;


}


/* Header div animation code */
.jumbotron.text-center {
  position: relative;
  font-family: 'Averia Sans Libre', cursive;
  font-family: 'IM Fell English SC', serif;
  color: #FFF0A5;
  //-webkit-animation: floatText 10s infinite;

  //-webkit-animation-direction:alternate;
}


//@-webkit-keyframes floatText {
 //from{
      //top:10em;
    //  -webkit-animation-timing-function: ease-in;
    //  -webkit-animation-fill-mode: forwards;

   //}


   //to {
    //  top: -100em;
    // -webkit-animation-timing-function: ease-out;
   //}

//}

//arrow margins

.arrow.right {

margin-left: 35px;
margin-right: 35px;
position: fixed;






}

.arrow.left {


  margin-left: 35px;
  margin-right: 35px;
  position: fixed;

}

//make the notice dissapear after 3secs
#notice{

    font-size: 35px;
    color: #FFF0A5;;
    margin-top: 20px;

     animation:notice 0.5s 1;
    -webkit-animation:notice 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes notice{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes notice{
    from {opacity :1;}
    to {opacity :0;}
}

//make the notice dissapear after 3secs
#titleAlert{
text-align: center;
    font-size: 65px;
    color: #FFF0A5;
    margin-top: 85px;
}
/*
    animation:titleAlert 0.5s 1;
    -webkit-animation:titleAlert 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome
    -webkit-animation-fill-mode: forwards;
}


@keyframes titleAlert{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes titleAlert{
    from {opacity :1;}
    to {opacity :0;}
}
*/

/* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
          width: 100%;
      }
  }
