body {
background-image:url("backFlower7.png");
background-repeat: no-repeat;
background-size: cover;
margin:0;
min-height: 100px;
background-position: center center

}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
